@import "../../styles/variables.scss";


.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    background-color: $background-black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    max-width: 1250px;
    background-color: $black;
}

.main {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    background-color: $black;
}

.info_table {
    background-color: $black;
    color: $white;
    border-collapse: collapse;

    p {
        font-size: 30px;
    }

    th {
        padding: 15px;
        border: 4px solid $light-green;
    }
}

.main_image {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

.main_left {
    width: 50%;
}

.pokemon_name {
    font-size: 40px;
    color: $white;
    background-color: $background-black;
    padding: 15px;
    border-radius: 20px;
}

.pokemon_id {
    font-size: 24px;
    color: $light-green;
}

.section_header {
    color: $white;
    font-size: 32px;
    padding: 40px 0px;
    text-align: center;
}

.pill {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    // width: 100px;
    max-width: 100%;
    border-radius: 10px;
}


.ability {
    background-color: $dark-green;
}

.stats {
    width: 95%;
}

.stat-header {
    width: 25%;
    min-width: 150px;
    color: $white;
    font-size: 20px;
}

.stats-table {
    background-color: $black;
    width: 100%;
    border-spacing: 0 15px;
}


.stat-bar-container {
    width: 100%;
}

.stat-bar {
    // background-color: $white;
    background-image: linear-gradient(90deg, $light-green, $white);
    color: $black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    min-width: 50px;
    max-width: 99%;
    padding: 5px;
    border-radius: 10px;
}

.sprites {
    width: 100%;
}


.main_right {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
}

.loader {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: $background-black;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    min-width: 100%;

    img {
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 200px;
        padding: 10px;
    }
}

@media screen and (max-width: 900px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .main_left {
        width: auto;
    }

    .main_right {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .stat-header {
        width: 15%;
        font-size: 16px;
        padding: 5px;
    }

}