@import "../../styles/variables.scss";


.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    width: 100%;
    max-width: 1250px;
}

.main {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    background-color: $light-green;
}

.info_table {
    background-color: $white;
}

.main_image {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

.main_left {
    width: 50%;
}

.pokemon_id {
    font-size: 24px;
    color: gray;
}

.pill {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    width: 100px;
    border-radius: 10px;
}

.stats {
    width: 100%;
}

.stat-header {
    width: 25%;
    min-width: 150px;
    color: $white;
    font-size: 20px;
}

.stats-table {
    background-color: $black;
    width: 100%;
    border-spacing: 0 15px;
}


.stat-bar-container {
    width: 100%;
}

.stat-bar {
    // background-color: $white;
    background-image: linear-gradient(90deg, $light-green, $white);
    color: $black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    min-width: 50px;
    padding: 5px;
    border-radius: 10px;
}


.main_right {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
}



.sprites {
    display: flex;
    overflow: scroll;
    width: 100%;
}

.sprite {
    width: 100px;
    height: 100px;
}