@import "../../../styles/variables.scss";


.card {
    border: 2px solid black;
    max-width: 350px;
    animation: card-appear 0.5s;

    &:hover {
        border-color: $dark-green;

        .image {
            z-index: 0;
            transform: scale(0.85);
        }

        .info_container {
            padding-left: 10%;
            background-color: $dark-green;
        }
    }
}

.info_container {
    background-color: $black;
    color: $white;
    transition: all 0.25s;
    padding: 7px;
}

.pokemon_types {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.pokemon_id {
    font-size: 14px;
}

.pokemon_name {
    font-size: 28px;
}

.pokemon_types {
    padding: 5px 0px;
}

.image_container {
    width: 100%;
    height: 66%;
    overflow: hidden;
    background: radial-gradient($light-green 20%, $white)
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.25s;
}

.link_wrapper {
    color: black;
    text-decoration: none;
}

.pill {
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 5px 10px;
    width: 100px;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .pill {
        width: 75px;
    }
}

@keyframes card-appear {
    from {
        opacity: 0;
        scale: 0.85;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}