.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.buttons_block {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
}