.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pokemonImage {
    width: 450px;
    height: 400px;
    align-self: center;
}

.buttons_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 30vh;
    padding: 15px 15px 30px 15px;

    button {
        max-width: 700px;
        margin: 10px 0px;
    }
}



@media screen and (max-width: 900px) {
    .buttons_block {

        button {
            margin: 10px 0px;
            font-size: 2.2rem;
            width: 95%;
        }
    }

    .pokemonImage {
        height: 50vh;
        width: 50vw;
        min-width: 300px;
        min-height: 300px;
    }
}