.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
}

.cards-list {
    display: grid;
    overflow-y: hidden;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 90%;
    padding: 15px;
    margin-top: 150px;
}