@import "../../styles/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: $background-black;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 15px;
    width: 100%;
    background-color: $black;
}

.cards-list {
    display: grid;
    overflow-y: hidden;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 90%;
    padding: 15px;
    margin-top: 150px;
}

.loader {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pikachu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-top: 100px;
    background-color: $black;
    color: $white;
    font-size: 24px;
}

.pikachu-image {
    width: 200px;
    height: 100px;
}

.loader-image {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 1350px) {
    .cards-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }
}

@media screen and (max-width: 800px) {
    .cards-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 100%;
    }

    .filters {
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 480px) {
    .cards-list {
        grid-template-columns: repeat(1, 1fr);
    }
}