@import "../../styles/variables.scss";

.game {
    height: 100vh;
    background-color: $black;
    color: $white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.game__screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 730px;
}