@import "../../../styles/variables.scss";

.button {
    background-color: $dark-green;
    color: $white;
    padding: 5px;
    border-radius: 7px;
    transition: 0.05s;
    width: 30%;
    height: 4em;
    border: none;
    font-size: large;

    &:hover {
        background-color: $light-green;
        transition: 0.05s;
        outline: 2px $white solid;

    }
}